# üìäüìö Analysez des donn√©es de syst√®mes √©ducatifs

## Sommaire
[Introduction](#Introduction)  

[1. Librairies et chargement des data](#1.-Librairies-et-chargement-des-data)
- [a. Librairies import√©es](#a.-Librairies-import√©es)
- [b. Chargement des fichiers CSV](#b.-Chargement-des-fichiers-CSV)
- [c. Cr√©ation du log df](#c.-Cr√©ation-du-log-df)

## Introduction

Academy est une plateforme d'√©ducation en ligne pour les √©tudiants du niveau lyc√©e et universit√©.
La start-up qui a d√©velopp√© la plateforme souhaite l'√©tendre √† un niveau internationnal. 

Pour ce faire, il faut dans un premier temps **s'assurer que les donn√©es r√©colt√©es de la banque mondiale sont exploitables** pour enrichir la r√©flexion. 
Puis, dans un second temps, **identifier les pays cibles avec un fort potentiel** et voir leur √©volution dans le temps.

### 1. Librairies et chargement des data

#### a. Librairies import√©es

In [122]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display

#### b. Chargement des fichiers CSV

In [123]:
df_data = pd.read_csv('./dataset/EdStatsData.csv')
df_country_series = pd.read_csv('./dataset/EdStatsCountry-Series.csv')
df_country = pd.read_csv('./dataset/EdStatsCountry.csv')
df_foot_note = pd.read_csv('./dataset/EdStatsFootNote.csv')
df_stats_series = pd.read_csv('./dataset/EdStatsSeries.csv')

###### Description des DF

**df_data** : Ensemble des indicateurs par pays et par ann√©es (1970 √† 2100)

**df_country** : Liste d'informations compl√©mentaires concernant les pays

**df_country_series** : Indicateurs d√©mographiques et √©conomiques par ann√©e et par pays pr√©sents dans df_data

**df_stats_series** : Lexique des indicateurs

**df_foot_note** : Informations additionnelles sur les indicateurs bas√©es sur l'ann√©e, le type d'indicateur et le pays dans df_data

#### c. Cr√©ation du log df

In [124]:
#Log df infos
dic = {"df_data" : df_data, "df_country":df_country, "df_country_series" : df_country_series, 
           "df_foot_note" : df_foot_note, "df_stats_series" : df_stats_series}


cat_log = ['shape','duplicated_rows','na_rate', 'stats','nunique_cat']

obj_log = {
    'log_cat': cat_log,
    "df_data": [None] * len(cat_log),
    "df_country": [None] * len(cat_log),
    "df_country_series": [None] * len(cat_log),
    "df_foot_note": [None] * len(cat_log),
    "df_stats_series": [None] * len(cat_log)
}

df_log = pd.DataFrame(obj_log)

In [125]:
dic_keys = list(dic.keys())

for df_name in dic_keys:
    
    #Shape
    shape_value = dic[df_name].shape
    df_log.loc[df_log['log_cat'] == 'shape', df_name] = [shape_value]
    
    #duplicated_rows
    duplicates = dic[df_name].duplicated().sum()
    df_log.loc[df_log['log_cat'] == 'duplicated_rows', df_name] = [duplicates]
    
    #na_rate
    na_rate = round(dic[df_name].isna().sum() / len(dic[df_name]),2)
    df_log.loc[df_log['log_cat'] == 'na_rate', df_name] = [na_rate]
    
    #stats df.describe(include=[np.number])
    stats_report = dic[df_name].describe(include=[np.number])
    df_log.loc[df_log['log_cat'] == 'stats', df_name] = [stats_report]
    
    #Nb uniques categories df_obj = df.select_dtypes(include='object')
    unique_categories = dic[df_name].select_dtypes(include='object').nunique()
    df_log.loc[df_log['log_cat'] == 'nunique_cat', df_name] = [unique_categories]
    
del dic

In [126]:
df_log

,log_cat,df_data,df_country,df_country_series,df_foot_note,df_stats_series
0,shape,"(886930, 70)","(241, 32)","(613, 4)","(643638, 5)","(3665, 21)"
1,duplicated_rows,0,0,0,0,0
2,na_rate,Country Name 0.00 Country Code 0.00 ...,Country Code ...,CountryCode 0.0 SeriesCode 0.0 DESCRIPT...,CountryCode 0.0 SeriesCode 0.0 Year ...,Series Code 0.00 To...
3,stats,1970 1971 197...,National accounts reference year Lates...,Unnamed: 3 count 0.0 mean ...,Unnamed: 4 count 0.0 mean ...,Unit of measure Notes from original so...
4,nunique_cat,Country Name 242 Country Code 242 ...,Country Code ...,CountryCode 211 SeriesCode 21 DESCRIPT...,CountryCode 239 SeriesCode 1558 Year ...,Series Code 3665 To...

In [127]:
# Widgets : Toggle pour log_cat et Toggle pour les colonnes
toggle_cat = widgets.ToggleButtons(
    options=df_log['log_cat'].values,
    description='Category:',
    button_style=''
)

toggle_df = widgets.ToggleButtons(
    options=df_log.columns[1:],
    description='Dataframe:',
    button_style=''
)

# Output widget pour afficher le r√©sultat
out = widgets.Output()

# Callback qui combine les deux s√©lections
def update_value(change):
    category_name = toggle_cat.value
    df_name = toggle_df.value
    
    with out:
        out.clear_output()
        try:
            valeur = df_log.loc[df_log['log_cat'] == category_name, df_name].iloc[0]
            display(valeur)
        except Exception as e:
            print("Erreur :", e)

# Observer les changements sur les deux widgets
toggle_cat.observe(update_value, names='value')
toggle_df.observe(update_value, names='value')

# Affichage
display(toggle_cat, toggle_df, out)

ToggleButtons(description='Category:', options=('shape', 'duplicated_rows', 'na_rate', 'stats', 'nunique_cat')‚Ä¶

ToggleButtons(description='Dataframe:', options=('df_data', 'df_country', 'df_country_series', 'df_foot_note',‚Ä¶

Output()